body{
    margin: 0 auto;
}

.timer{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-container{
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.button{
    margin: 5px 10px;
    background: rgb(160, 235, 110);
    border-radius: 5px;
    cursor: pointer;
}