body{
    margin: 0;
}
.notes {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.notes__header{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
}
.note-editor {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 800px;
}

.note-editor__text {
    border: 1px solid rgb(172, 167, 167);
    border-radius: 3px ;
    width: 100%;
}
.note-editor__control{
    display: flex;
    width: 800px;
    justify-content: space-between;
    padding-top: 10px;
}
.note-editor__colors{
    display: flex;
}
.note-editor__color{
    margin: 0 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.note-editor__color:hover{
    border: 1px solid rgb(48, 48, 68);
}
.button {
    cursor: pointer;
    background: rgb(175, 247, 127);
    border-radius: 10px ;
    font-weight: 500;
    font-size: 15px;
    margin: 5px 0;
}
.button:hover {
    background: rgb(37, 173, 55);
}
.notes-grid {
    width: 840px;
    display: flex;
}

.note {
    display: flex;
    box-sizing: border-box;
    width: 200px;
    height: auto;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    word-break:break-word
}

.note:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.note__delete {
    position: absolute;
    top:5px;
    right:5px;
    opacity: 0.3;
}
.note__delete:hover{
    opacity: 1;
}


