
.calc{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.button{
    background: rgb(255, 245, 199);
    border: 1px solid rgb(248, 223, 0);
    color: rgb(17, 17, 17);
}
.container-btn{
    display: flex;
}
.parent__button{
    margin: 10px;
}