.task-list__item{
    display: flex;
    position: relative;
}

.task-list-item__del{
    position: absolute;
    right: 0;
    cursor: pointer;
    opacity: 0.5;
    // color: grey;
    &:hover{
        opacity: 1;
    }
}
.task-list-item__on{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(70, 70, 68);
    cursor: pointer;
}
.task-list-item__on_visible{
    background-color: green; 
}
.task-list-item__on-img{
    display: none;
}
.task-list-item__on-img_visible{
    display: block;
}
.task-list-item__text{
    padding: 0 10px;
    word-break:break-word
}
.task-list-item__text_visible{
    text-decoration: line-through;
    color: grey;
}