ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.contacts {
    margin: 0 auto;
    width: 300px;
}

.contacts__search-field {
    width: 100%;
    padding: 5px;
}

.contact {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted grey;
    cursor: pointer;
    padding: 5px 0;
}

.contact__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 5px;
}

.contact__name {
    font-family: 'Aleo', serif;
    font-weight: 500;
    font-size: 20px;
}

.contact__number {
    font-size: 18px;
    font-weight: 500;
    color: rgb(46, 40, 40);
    font-family: 'Indie Flower', cursive;
}

.contact__address {
    font-size: 14px;
}

.contact__email {
    font-style: italic;
    color: rgb(51, 59, 94);
}