ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}  

.article {
    margin: 10px;
    padding: 5px;
    background-color: rgb(247, 200, 178);
}     

.article__title {
    font-size: 20px;
    font-weight: 600;
}

.article__author {
    font-style: italic
}
